.table {
    width: 70vw;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
}

.table_head {
    background-color: black;
}

.table_head > .table_row > .table_head_cell {
    color: white;
    height: 100px;
    font-size: var(--large-font-size);
}

.table_body > .table_row > .table_body_cell {
    background-color: white;
    width: 80px;
    height: 100px;
    font-size: var(--large-font-size);
    opacity: 0.7;
}