.note {
  z-index: -1;
}

.note > .note_img {
  width: 50%;
}

.note > .note_img > img {
  position: relative;
  width: 35vw;
  height: 70vh;
  top: 100px;
  left: 10%;
}

.note > .note_word {
  width: 50vw;
  position: absolute;
  right: 0%;
  top: 20%;
}