.note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.note > .note_img {
  transition: all 1s 0.5s;
}

.note > .note_img > img {
  width: 30vw;
  object-fit: contain;
}

.note > .note_word {
  width: 50vw;
  display: flex;
  justify-content: center;
  text-align: center;
  transition: all 1s 0.5s;
}

.note > .note_word > .notes h2 {
  margin-top: var(--margin-4);
  margin-bottom: var(--margin-4);
  font-size: 2rem;
  font-weight: 500;
}

.note > .note_word > .notes p {
  margin-top: var(--margin-2);
  font-size: 1.3rem;
}
